
@import "partials/variables";
@import "partials/body-footer";

*{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

@font-face {
      font-family: "robotoSlab";
      src: url(../fuentes/RobotoSlab-Regular.ttf);
}

/* #0781e4df #05BFDB  #27e5ec gamma azules que utilizo en pag
   #6E85B7 #B2C8DF #C4D7E0 
   #088395 #05BFDB #00FFCA
*/

/*TITULOS*/

h1 {
      font-family: $font;
}

h2 {
      font-family: $font;
}

h3 {
      font-family: $font;
}

.titulo1 {
      font-size: 35px;
      background-color: $azulintermedio;
      font-weight: 600;
}

.titulo2 {
      font-size: 25px;
      background-color: $azulintermedio;
      font-weight: 500;
      text-align: center;
}
.titulo2a {
      @extend .titulo2;
}

.titulo2b {
      @extend .titulo2;
      background-color: $blanco;
      color:black;
      text-align: start;
      font-weight: 500;
      text-decoration: underline;
}

.titulo3 {
      @extend .titulo2;
}

.titulo3a {
      @extend .titulo2b;
}

/*BOOTSTRAP*/

.bg-nav {
      background-color: $blanco;
}

.bg-boton {
      background-color: $blanco;
}

.turnos {
      background-color: $azulintermedio;
}

.formulario {
      background-color: $azulintermedio;
}

.logo2 {
      height: 300px;
      width: 350px;
}

.logo1 {
      height: 90px;
      width: 100px;
}

.facebook {
      width: 45px;
      height: 45px;
}

.direccion {
      @extend .facebook;
}

.whatsapp {
      width: 40px;
      height: 40px;
}

.email {
      @extend .whatsapp;
}

.linkedin {
      width: 30px;
      height: 30px;
}

.instragram {
      @extend .linkedin;
}

/*ANIMACIONES*/

.boton:hover {
      background-color: #144272;
      color: $blanco;
      font-weight:bold;
      transition: 3s;
}

.publicidad {
      color:#144272;
      font-size: 30px;
      font-family: $font;
      font-style:italic;
}

/*DIV PAGINAS*/

.text1 {
      font-size: 20px;
      font-family: $font;
}
 .boton {
      color: black;
      font-weight: 600;
 }

 .textfoot {
      color: black;
      font-family: $font;
 }

 .inicio {
      font-size: 18px;
      color: black;
 }

 .lista1 {
      list-style-type:circle;
 }

.infocontacto {
      color: black;
      font-weight: 500;
}


