/* HEADER*/

header {
     background-color: $azuloscuro;
     ul {
         list-style-type: none;
         text-align: right;
         font-family: $font;
     }
     a {
         text-decoration: none;
     }
}

/*MAIN*/

main {
      background-color: $blanco;
      ul {
        list-style-type: none;
    }
}

/*FOOTER*/

footer {
     background-color: $azulclaro;
}